# dependencies
node_modules/

# build output
.esbuild/
dist/

# testing
coverage

# local env files
.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - Idea
.idea

# debug
npm-debug.log*

# misc
.DS_Store
*.tsbuildinfo
output
models
